@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.ene-icon{
    width: 50px;
}
body {
    background-color: #04101e;
    font-family: 'Trebuchet MS', sans-serif;
    background-size: cover;
}

/*Nav bar start */
.navbar {
    background-color: #09203a;
}

/*<li>*/
.nav-item {
    margin-left: 50px;
}

/*<a>*/
.nav-link:hover {
    font-size: 20px;
    color: green !important;
}

.nav-link {
    color: white !important;
    transition: color 1.5s;
    transition: font-size 2s;
}

/*About Word Top the profile img start*/
.abt {
    color: white;
    font-size: 12px;
    padding-left: 250px;
    padding-top: 10px;

}

.abt::after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 10px;
}

/*About Word Top the profile img end*/

/*About Me Container start and description*/
.main {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 20px;
}

.main img {
    padding-right: 30px;
    transition: transform 1s;
}

.main img:hover {
    opacity: 0.6;
    transform: scale(1.05, 1.05);
}

.description {
    display: flex;
    flex-direction: column;
}

.description p {
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: smaller;
    max-width: 600px;
}

.Information-section {
    display: flex;
    flex-wrap: wrap;
}

.Information-section ul li {
    padding: 7px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.Information-section ul {
    display: flex;
    flex-direction: column;
}

.Information-section .row-1 ul li::before {
    content: '\2192';
    /* Unicode for less-than sign */
    color: green;
    /* Change the color to your preferred color */
    margin-right: 5px;
    /* Add some space between the arrow and the text */
    font-size: 20px;
    font-weight: bolder;
}

.Information-section .row-2 ul li::before {
    content: '\2192';
    /* Unicode for less-than sign */
    color: green;
    /* Change the color to your preferred color */
    margin-right: 5px;
    /* Add some space between the arrow and the text */
    font-size: 20px;
    font-weight: bolder;
}

/*About Me End*/


/*Interst Section Start*/
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 50px 0px 20px 230px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dee2e6;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 10px;
}

/* .row{
        display: flex;
justify-content: center;
 flex-wrap: wrap;
 max-width: 80%;
}*/

.icon-box {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    background: #09203a;
    transition: ease-in-out 0.3s;
    color: white;
    line-height: 0.75;
}

.icon-box i {
    padding-right: 7px;
    font-size: 30px;
}

.row h3 {
    font-family: "Raleway", sans-serif;
    ;
    font-size: 16px;
}

.row .icon-box:hover {
    background-color: #0d315b;
}

/*Interst Section End*/
ul {
    list-style: none;
}

/* In Complete Drop Down Start */
/*

.dropdown-container ul li a:hover{
    font-size: 25px;
}
.dropedmenu ul li{
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.dropedmenu ul li a{
    color: aliceblue;
    text-decoration: none;
    transition: font-size 1s;
}

.dropedmenu{
    border-radius: 5px;
    width: 40%;
    display: flex;
    min-width: 145px;
    background-color: #0f335e;
    opacity: 0.4;
    margin-left: 300px;
}

.menuicon button{
    background-color: #09203a;
    border: none;
    cursor: pointer;
}

.menuicon button i{
    color: #09203a;
}

#myDropdown .highlight {
    visibility: visible;
}*/

/*Drop Down End*/

@media (max-width:992px) {
    .container ul li {
        padding-right: 20px;
        font-size: 21px;
    }

    .navbar .links {
        display: none;
    }

    .menuicon button {
        color: white !important;
        background-color: transparent !important;
        border: none;
        width: fit-content;
        margin: 15px;
    }

    .menuicon button i {
        font-size: 35px;
        color: white !important;
    }

    .container ul li {
        display: none;
    }
}

/* X icon when active class is added */
.navbar-toggler.active .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 3l24 24M27 3L3 27'/%3e%3c/svg%3e");
    transition: background-image 0.3s ease;
}

@media (max-width:992px) {
    .navbar {
        height: auto !important;
    }
}

@media(max-width:928px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    .ene-icon{
        width: 50px !important;
        height: 15px !important;
    }
    .main img {
        margin-bottom: 30px;
        width: 550px;
        height: 660px;
        opacity: 0.6;
    }

    .description {
        align-items: center;
    }

    .Information-section ul {
        padding-right: 0px;

    }

    .description p {
        max-width: 580px;
    }

}

@media (max-width:762px) {
    .dropedmenu {
        opacity: 0.4;
    }

    .dropedmenu ul {
        flex-direction: row !important;
    }

    .dropedmenu ul li {
        padding-left: 20px;
    }
}

@media (max-width:823px) {
    .main img {
        width: 200px;
        height: 270px;
    }
}

@media (max-width:536px) {
    .description p {
        max-width: 450px;
    }

    .main img {
        margin-bottom: 30px;
        width: 300px;
        height: 400px;
        opacity: 0.6;
    }

    .container {
        margin-top: 100px;
    }

    .container ul li {
        display: none;
    }

    .menuicon button {
        color: white;
        background-color: transparent;
        border: none;
        width: fit-content;
        margin: 10px;
    }

    .menuicon button i {
        font-size: 35px;
        color: white;
    }

    /*Handle MenuIcon Ended*/
    .row {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        width: 100%;
    }

    .section-title h2 {
        margin-left: 32px;
    }
}

@media (max-width:483px) {
    .description {
        margin-left: 12px;
        max-width: 300px;
    }

    .abt {
        padding-left: 30px;
    }

    img {
        width: 100px;
        height: 150px;
    }
}

@media (max-width:425px) {
    .description p {
        margin-left: 0px;
        max-width: 350px;
    }

    .main img {
        width: 250px;
        height: 300px;
    }

    .abt {
        padding-left: 80px;
    }

    .navbar-brand {
        font-size: 17px;
        margin-top: 5px !important;
    }

    .navbar-toggler {
        font-size: 20px;
        margin-top: 5px;
    }
}

@media (max-width:319px) {
    .abt {
        padding-left: 30px;
    }

    .row .icon-box {
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .navbar-brand {
        font-size: smaller;
    }
}