@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}   
body{
    background-color:  #04101e;
    font-family: 'Trebuchet MS', sans-serif;
    background-size: cover;
}
.navbar{
    display: flex;
    background-color: #09203a;
    justify-content: space-between;
    height: 70px;
    

}
.men-bar{ 
    list-style: none;
    display: flex;
    padding-right: 150px;
    font-family: "Poppins", sans-serif;
}
.men-bar li{
    padding: 25px 25px;
    font-size: smaller;
}
.navbar .men-bar li a{
    color:white;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 15px;
    transition: font-size 1s;

}
.navbar .men-bar li a:hover{
    color: rgb(3, 156, 3);
    border-bottom: 1.5px solid goldenrod;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 10%;
    font-size: 17px;
}
.navbar p{
    color:azure;
    padding-top: 18px;
    padding-left: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
}
.navbar p::after{
    content: "Elghrabawy";
    color:darkslategrey;
    font-weight: bold;
    font-size:25px;
}
.row{
    display: flex;
    background-color: #0d2847;
    width: 270px;
    height: 300px;
    margin-left: 150px;
}
.row li{
    margin-left: 30px;
    padding: 20px;
}
@media(max-width:928px){
    .main {
        flex-direction: column;
        align-items: center;
    }
    .main img{
        margin-bottom:10px ;
        width: 550px;
        height: 660px;
    }
    .description p{
        max-width: 580px;
    }
    .links{
        display: none;
    }
    .menuicon{
        margin-top: 20px;
        margin-right: 50px;
        cursor: pointer;
    }
    .menuicon div{
        width: 25px;
        height: 3.5px;
        border: none;
        border-radius: 25%; 
        background-color: white;
        margin: 7px;
    }
}
.section-title{
    color: white;
    text-transform: uppercase;
    line-height: 1px;
    margin:20px 0px 20px 150px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
    font-family: "Poppins", sans-serif;       
}
.section-title ::after{
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 10px;
}

/*Cousre section Start*/
.Courses-Section{
    width: 300px;
    height: 270px;
    margin-left: 160px;
    background-color: #0d2847;
}
.Courses-Section:hover{
    background-color: #143a67;
}
.Courses-Section p{
    color: white;
    font-style: italic;
    padding-left: 20px;
}
.section2-title{
    color: white;
    text-transform: uppercase;
    line-height: 1px;
    margin:80px 0px 20px 150px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
    font-family: "Poppins", sans-serif;  
}
.section2-title::after {
    content: "";
    width: 100px;
    height: 1px;
    display: inline-block;
    background: #dee2e6;
    margin: 4px 230px;
}
@media (max-width:865px) {
    .Contact-Container{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
   
}
/*Contact Start*/
.Contact-Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact-Container div{
    background-color: #0d2847;
    width: 40%;
    height: 100px;
    line-height: 1;
    margin: 20px;
    padding-left: 20px;
    padding-top: 10px;
    transition: width 1s;
}
.Contact-Container div:hover{
    width: 45%;
}
.Contact-Container h5{
    color: rgb(57, 92, 5);
    font-size: 20px;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 100px;
}
.Contact-Container p{
    color: white;
    font-size: 12px;
    margin-left: 100px;
    margin-top: 10px;
}
i.bx {
    font-size: 18px;
    color: #dee2e6;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
}

.emails{
    display: flex;
    width: 0% !important;
    height: 0% !important;
}
.emails a{
    padding-left: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.1);
    padding-right: 20px;
    background-color: #04101e;
}
.emails a svg{
    width:19px;
    height:19px;
    transition: height 1.5s;
}

.emails a svg:hover{
    color: rgb(2, 97, 2);
    height: 25px;
    width: 25px;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact .info-box {
    color: #444444;
    padding: 20px;
    margin: 20px;
    margin-right: 10px;
    width: 500px;
    background: #09203a;
    transition: width 1s;
}
.contact .info-box:hover{
    background-color: #1b4d8a;
    width: 510px;
}
  
  .contact .info-box i.bx {
    font-size: 24px;
    color: #dee2e6;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }
  .contact .info-box i{
    width: 55px;
    transition: font-size 1s;
  }
  .contact .info-box i:hover{
    background-color: #28a745;
    font-size: 27px;
    
    
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #28a745;
    font-weight: 700;
    margin: 10px 0 8px 68px;
  }
  
  .contact .info-box p {
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
  }
  
  .contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
  }
  
  .contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
  }





  
  