
/*to make the cursor as waiting*/
@keyframes plink {
    0% {border-right-color: transparent}
  50% {border-right-color: orange}
  100% {border-right-color: transparent}
}
@keyframes delayAndAlternate {
    0% { width: 60%; }
    100% { width: 60%; }
}
body{
    background-color:  #04101e;
    font-family: 'Trebuchet MS', sans-serif;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: aliceblue;
    margin-top: 150px;
    margin-left: 200px;
}
/*Type Writer Text*/
.static-typed-written-text{
    font-size: 20px;
}
.container p{
    display: inline-block;
    font-family: monospace;
    white-space: nowrap;
    color: white;
}
#typed-text{
    display: inline-block;
    color: green;
    width: fit-content;
    border-bottom:1px solid green;
    font-family: monospace;
    font-weight: 800;
    white-space: nowrap;
}
/*End Type Writer*/
@media (max-width:992px) {
    .container{
        align-items: center;
        margin-left: 0px;
        margin-top: 150px;
    }
    .container ul li{
        padding-right: 20px;
        font-size: 21px;
    }
    .menuicon button{
        color: white !important;
        background-color: transparent !important;
        border: none;
        width: fit-content;
        margin: 10px;
    }
    .menuicon button i{
        font-size: 35px;
        color: white !important;
    }
    .container ul li{
        display: none;
    }
}
@media (max-width:762px){
      
    .dropedmenu{
        opacity: 0.4;
    }
    .dropedmenu ul{
        flex-direction: row !important;
    }
    .dropedmenu ul li{
        padding-left: 20px;
    }
}

@media (max-width:536px) {
    .container{
        margin-top: 100px;
        font-size: 12px;
    }
    .container ul li{
        display: none;
    }
    .menuicon button{
        color: white;
        background-color: transparent;
        border: none;
        width: fit-content;
        margin: 10px;
    }
    .menuicon button i{
        font-size: 35px;
        color: white;
    }
    /*Handle MenuIcon Ended*/
}
@media (max-width:375px) {
        .container{
            margin-top: 150px;
        }
}

/*
type writer start we can use "typed js" 
>> <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js"></script>
>Typed.js is an animation library supported by java script and other scripting languages
>It provides the typing animation effect to the text. We can use this library by adding the CDN link
> var typed = new Typed(element class or Id, callback function);
>> In the above given syntax the class or id is of the element which is to be targeted for the working of typing animations. The callback function is a function with an array of type string and few type constructor properties such as typing speed, back speed, loop and back speed delay.
*/










/*type writer end */


/*
    Profile Section start
*/
.container li a{
    text-decoration: none;
    color: white;
    transition: border-width 0.2s;
    transition: font-size 1s;
}
.container ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
}

.container  li{
    padding-right: 50px;
}
.container li a:hover{
    font-size: 20px;
}

.container  li a:hover{
    color: rgb(2, 97, 2);
    border-bottom: 3px solid goldenrod;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 10%;
}
/*
   Emails Start
*/
.emails{
    display: flex;
}
.emails a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.1);
    padding-right: 20px;
    background-color: #04101e;
}
.emails a svg{
    width:19px;
    height:19px;
    transition: height 1.5s;
}

.emails a svg:hover{
    color: rgb(2, 97, 2);
    height: 25px;
    width: 25px;
}
/* Home page end*/

/*drop down menu start*/
.dropdown-container ul{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    font-size: 20px;
    transition: font-size 0.5s;
}
.dropdown-container ul li a:hover{
    font-size: 25px;
}
.dropedmenu ul li{
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.dropedmenu ul li a{
    color: aliceblue;
    text-decoration: none;
    transition: font-size 1s;
}

.dropedmenu{
    border-radius: 5px;
    width: 40%;
    display: flex;
    min-width: 145px;
    background-color: #0f335e;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
}

.menuicon button{
    background-color: #04101e;
    border: none;
    cursor: pointer;
}

.menuicon button i{
    color: #04101e;
}

#myDropdown {
    display: none; /* Hide the menu by default */
}

#myDropdown.visible {
    display: flex; /* Show the menu when the 'visible' class is applied */
}












